.bg-img {
  background-image: url(../images/bg-desktop-light.jpg);
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 100%;
  font-family: "Josefin Sans", "Noto Sans TC";
  .container {
    width: 100%;
    padding-top: 100px;
    .logout-btn {
      &:hover {
        color: #fff;
      }
    }
    h1 {
      letter-spacing: 1rem;
    }
    .login-btn {
      background-color: #6559cc;
      color: #fff;
      &:hover {
        background-color: #fff;
        border: #6559cc 2px solid;
        color: #6559cc;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .bg-img {
    .container {
      width: 40%;
    }
  }
}

.no-outline:focus {
  outline: none;
}
