.list-tab .active {
  color: #6559cc;
  font-weight: 600;
  border-bottom: 2px solid #6559cc;
}

.list-tab li a {
  display: block;
  text-align: center;
  padding: 16px 0;
}

.no-outline:focus {
  outline: none;
}
.list-footer a span {
  color: hsl(235, 19%, 35%);
  &:hover {
    color: #6559cc;
    font-weight: bold;
  }
}

@media screen and (min-width: 1025px) {
  .bg-img {
    .container {
      .list-footer a span,
      .list-footer span {
        font-size: 16px;
      }
    }
  }
}

input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  width: 15px;
  height: 15px;
  font-size: 14px;
}

input[type="checkbox"]::after {
  position: absolute;
  top: 0;
  color: #000;
  width: 15px;
  height: 15px;
  display: inline-block;
  visibility: visible;
  padding-left: 0px;
  text-align: center;
  content: " ";
  border-radius: 3px;
}

input[type="checkbox"]:checked::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  font-size: 12px;
  background-color: #6559cc;
  border-color: transparent;
  font-weight: bold;
}
