.bg-img {
  background-image: url(../images/bg-desktop-light.jpg);
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  .container {
    width: 100%;
    padding-top: 100px;
    .logout-btn {
      &:hover {
        color: #fff;
      }
    }
    h1 {
      font-family: "Josefin Sans", sans-serif;
      letter-spacing: 1rem;
    }
    form {
      input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
      }

      .no-outline:focus {
        outline: none;
      }
    }
    .list-footer a span {
      color: hsl(235, 19%, 35%);
      &:hover {
        color: hsl(220, 98%, 61%);
      }
    }
    .list-footer span {
      font-size: 12px;
      color: hsl(236, 9%, 61%);
    }
    .footer {
      color: hsl(236, 9%, 61%);
      font-size: 12px;
      a {
        color: hsl(220, 98%, 61%);
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .bg-img {
    .container {
      .list-footer a span,
      .list-footer span {
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .bg-img {
    .container {
      width: 40%;
    }
  }
}
